# ===============================
# Eclipse / IDE files
# ===============================
.metadata/
.settings/
.project
.classpath

# ===============================
# Compiled output
# ===============================
bin/
target/
*.class

# ===============================
# Logs & temp files
# ===============================
*.log
*.snap
*.index

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db