/BankAccount.class
/CartItem.class
/MovieTicket.class
/palindromeChecker.class
/PalindromeChecker.class
/StudentsGrades.class

# Eclipse
.metadata/
.classpath
.project
.settings/

# Compiled files
bin/

# OS files
.DS_Store